* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
body {
  background: #1f242d;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;
}
/* ::-webkit-scrollbar{
    display: none;
} */
section {
  min-height: 80vh;
  padding: 2rem 9%;
}
/* html{
    overflow: hidden;
} */
.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 9%;
  /* background: var(--bg-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  background-color: #1f242d;
}
.header.sticky {
  border-bottom: 0.1rem solid rgb(0, 0, 0);
}
.logo {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  transform: translateX(-100px);
  opacity: 0;
  animation: slideRight 1s ease forwards;
  /* z-index: 50%; */
}
.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover,
.navbar a.active {
  color: aqua;
}
.home {
  position: relative;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-block-start: 5rem; */
  /* padding: 70px 10px; */
}
#menu-icon {
  font-size: 3.6rem;
  /* color: var(--text-color); */
  display: none;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.3s;
}
.home-content h3 span {
  color: aqua;
}
.home-content h3:nth-child(2) {
  margin: bottom 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.3s;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
}
.home-content p {
  font-size: 16px;
  padding-inline-end: 0.5rem;
  transform: translateX(100px);
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.3s;
}
.homepicture {
  margin-top: 1rem;
}
.homepicture img {
  max-width: 340px;
  margin-right: 20px;
  /* opacity: 0; */
  /* animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 0.5s, 1s; */
}
/* --------------------------------------------------------------SOCIAL MEDIA LINKS--------------------------------------------- */
.social-media a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid aqua;
  border-radius: 50%;
  font-size: 36px;
  color: aqua;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5 ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
  justify-content: center;
  align-items: center;
}
.social-media a:hover {
  background: aqua;
  color: #1f242d;
  box-shadow: 0 0 20px aqua;
}
.social-media a i{
    font-size: 23px;
}
/* Resume button */
.btn {
  /* display: inline-block; */
  padding: 8px 30px;
  background-color: aqua;
  border-radius: 36%;
  box-shadow: 0 0 1px aqua;
  font-size: 34px;
  color: #1f242d;
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.5s;
  transition: 0.5 ease;
}
.btn:hover {
  box-shadow: none;
}
.heading {
  text-align: center;
  font-size: 3.5rem;
}
/* -----------------------------------------------------------ABOUT SECTION START------------------------------------------------ */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
/* .about-content h3{
    font-size: 2.6rem;
} */
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.Mee {
  color: aqua;
}
/* -----------------------------------------------------------------------PROJECT SECTION START-------------------------------------- */
.projects-container .projects-box:hover {
  border-color: aqua;
  transform: scale(1.02);
}
.Project-class {
  color: aqua;
}
.Project h2 {
  margin-bottom: 5rem;
}
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.projects-container .projects-box {
  flex: 1 1 30rem;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid;
  /* transition: 0.5s ease; */
}
.projects-box i {
  font-size: 7rem;
  color: aqua;
}
.projects-box h3 {
  font-size: 2.6rem;
}
.projects-box p {
  font-size: 1.6rem;
  margin-block: 1rem 3rem;
}
.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    135deg,
    rgb(0, 255, 255) 0%,
    rgb(0, 255, 255) 100%
  );
}
/* -----------------------------------------------------SKILL SECTION START-------------------------------------- */
.C {
  width: 89%;
  animation: C 3s;
}
.DSA {
  width: 70%;
  animation: DSA 3s;
}
.HTML {
  width: 95%;
  animation: HTML 3s;
}
.CSS {
  width: 90%;
  animation: CSS 3s;
}
.javascript {
  width: 70%;
  animation: javascript 3s;
}
.SQL {
  width: 50%;
  animation: SQL 3s;
}
.React {
  width: 65%;
  animation: React 3s;
}

.skills {
  width: 900px;
  margin: 46px auto;
  color: aqua;
  padding: 25px;
  box-shadow: 10 14px 28px rgb(0, 204, 170), 0 0px 0px rgb(0, 255, 255);
}
.skills {
  color: aqua;
}
.Skills-heading {
  color: #fff;
  /* margin: ;
  padding: ;*/
} 
.skills list {
  margin: 20px 0;
  padding: 10px;
}
.bar {
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgb(0, 255, 255), 0 1px 2px rgb(0, 255, 255);
  transition: all 0.3 cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* -------------------------------------------------------CONTACT SECTION START---------------------------------------------------- */
/* .contact{
  padding: 100px;
  margin: 50px;
}
.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 30rem;
  margin: 1rem aut0;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 30rem;
  padding: 1.5rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact form .input-box input {
  width: 30rem;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
} */
/*--------------------------------------------------------- FOOTER SECTION START------------------------------------------------------------ */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
}
.copyright h3 {
  font-size: 1.6rem;
  text-align: center;
}
.copyright span{
  color: aqua;
}
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: aqua;
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem aqua;
}
.footer-iconTop a i {
  font-size: 2.4rem;
}

/* Keyframes animation */
@keyframes slideRight {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes C {
  0% {
    width: 0%;
  }
  100% {
    width: 89%;
  }
}
@keyframes DSA {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes HTML {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
@keyframes CSS {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes SQL {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes React {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
/* RESPONSIVNESS */
@media (max-width: 991px) {
  .header {
    padding: 1rem 3%;
  }
  section {
    padding: 4rem 3% 2rem;
  }
  .contact {
    min-height: auto;
  }
  .projects {
    padding-bottom: 7rem;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;  
    right: 0;
    width: 100%;
    padding: 1rem 3%;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    background-color: #1f242d;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .homepicture img {
    width: 70vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .projects h2 {
    margin-bottom: 3rem;
  }
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .contact form .input-box input {
      width: 100%;
    }
  }
  @media (max-width: 365px) {
    .homepicture img {
      width: 90vw;
    }
    .footer {
      flex-direction: column-reverse;
    }
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}

